.wrapper {
  min-height: 100vh;
}

.signup-btn {
  border: none;
  background-color: orange;
  text-decoration: none;
  color: black;
  font-size: larger;
}

.signup-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

input[type="text"]:focus {
  outline: none;
}

input[type="email"]:focus {
  outline: none;
}

input[type="password"]:focus {
  outline: none;
}

@media (max-width:500px) {

  .fs-sm-14 { 
    font-size: 14px;
  }
}

@media (min-width: 1240px) {
  .card {
    width: 30rem;
    margin-left: 2.5rem;
  }
}
