.tips-container {
  width: 23.3rem;
  background-color: white;
}

.tips-input {
  width: 21rem;
  background-color: rgba(248, 246, 242, 1);
  border: none;
}

.tips-input:focus {
  outline: none;
}

.tips-textarea {
  width: 21rem;
  border: none;
  background-color: rgba(248, 246, 242, 1);
  resize: none;
}

.tips-textarea:focus {
  outline: none;
}

.upload {
  width: 21rem;
  /* height: 400px; */
  background-color: rgba(248, 246, 242, 1);
}

.upload:hover { 
  cursor: pointer;
}

.upload-img { 
 
  height: 18rem;
}


.update-img-contain  {
  margin-top: 1rem;
  width: 19rem; 
  height: 12rem;
  /* overflow: hidden; */

  /* border: solid red 1px; */

}

.update-img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}


@media (min-width: 768px) {
  .tips-container {
    width: 40rem;
  }

  .tips-input {
    width: 38rem;
  }

  .tips-textarea {
    width: 38rem;
  }

  .upload {
    width: 38rem;
  }

  .update-img-contain { 
    width: 32rem ;
    height: 15rem;
    
  }
}








 