body {
  background-color: rgba(248, 246, 242, 1);
}

.icon-search {
  margin-left: 0.93rem;
}
.form {
  width: 21rem;
}

.control {
  border-radius: 2rem;
}

.logo {
  height: 100px;
}

.control:focus {
  box-shadow: none !important;
  border: none !important;
}

.custom-btn {
  background-color: orange;
  color: #fff;
  width: 6rem;
  border: none;
}

.custom-btn:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .form {
    width: 35rem;
  }

  .control {
    border-radius: 0.5rem;
  }
}
