.custome-container {
  width: 44.125rem;
  background-color: white;
}

.input {
  background-color: rgba(248, 246, 242, 1);
  border: none;
}

.input:focus {
  outline: none;
}

.input-valid {
  position: relative;
  bottom: 15px;
  font-size: 13px;
  left: 19.5rem;
}

.custome-textarea {
  background-color: rgba(248, 246, 242, 1);
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 48px;
}

.steps-div {
  width: 13rem;
  height: 150px;
  background-color: rgba(248, 246, 242, 1);
}

.steps-input:hover {
  cursor: pointer;
}

.steps-icon {
  position: relative;
  bottom: 70px;
  left: 50%;
}

.main-camera {
  width: 7rem;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:focus {
  outline: none !important;
}
