.logo {
  padding-left: 6rem;
}

.nav-toggle {
  text-decoration: none;
  outline: none;
}

.nav-img {
  width: 2.5rem;
}

.icon {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
}

.nav-links {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.nav-links:focus,
.nav-links:hover,
.nav-links.active {
  color: orange !important;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar>.container { 
  margin-right: 8px;
  border: solid green 1px;
}

@media (min-width: 768px) {
  .nav {
    margin-left: 4rem;
    width: 30rem;
  }

  .logo {
    padding: 0;
  }
}

@media (min-width: 576px) {
.container { 
  max-width: 700px !important;
}
}


@media (min-width: 1024px) {
  .nav {
    margin-left: 10rem;
    width: 40rem;
  }
  
  .logo {
    width: 10rem;
  }
}

@media (min-width: 1200px) {
  .nav {
    margin-left: 25rem;
    width: 38rem;
  }
}

@media (max-width:767px) and (min-width:576px) {
  .container { 
  max-width: unset;
  border: solid red 1px;
  }
}
