.create-container {
  height: 300px;
  width: 23rem;
}

.create {
  background-color: #4a4a4a;
}

.main-text {
  text-decoration: none;
  color: white;
}

.tips-parent {
  background-color: #4a4a4a;
}

.tips {
  text-decoration: none;
  color: white;
}

.drafts {
  height: 230px;
}

@media (min-width: 768px) {
  .create-container {
    width: 43rem;
  }
}

@media (min-width: 1024px) {
  .create-container {
    width: 45rem;
  }
}
