/* .recipeinfo-container {
  width: 24.5rem;
  background-color: white;
}

.steps-container { 
  background-color: white;

  width: 20rem;
}

.steps-input  {
  width: 20rem;
}

.input {
  background-color: rgba(248, 246, 242, 1);
  border: none;
  width: 22rem;
}

.serves {
  width: 22rem;
}

.input:focus {
  outline: none;
}

.input-valid {
  margin-left: 20rem;
  font-size: 0.7rem;
}

.custome-textarea {
  background-color: rgba(248, 246, 242, 1);
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  
  height: 78px;
  width: 14rem;
  padding: 5px;
}

.steps-div {
  width: 13rem;
  height: 150px;
  background-color: rgba(248, 246, 242, 1);
}

.steps-input:hover {
  cursor: pointer;
}

.steps-icon {
  position: relative;
  bottom: 70px;
  left: 50%;
}

.main-camera {
  width: 7rem;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:focus {
  outline: none !important;
}

@media (min-width: 768px) {
  .recipeinfo-container {
    width: 38rem;
  }

  .input {
    width: 35rem;
  }

  .serves {
    width: 35rem;
  }

  .input-valid {
    margin-left: 33rem;
  }

  .custome-container {
    width: 38rem;
  }


  .steps-input { 
    width: 35rem;
  }

  .custome-textarea { 
    width: 32rem;
  height: 60px;
  }
}

@media (min-width: 1024px) {
  .recipeinfo-container {
    width: 45rem;
  }

  .input {
    width: 42rem;
  }

  .serves {
    width: 42rem;
  }

  .input-valid {
    margin-left: 40rem;
  }

  .custome-container {
    width: 45rem;
  
  }


  .steps-input { 
    width: 41rem;
  }

} */
