.logo {
    height: 100px;
  }
  


  .categ {
    background-color: #e9ecef;
    text-decoration: none;
    color: rgb(74 74 74);
  
    margin-right: 14rem;
  }


  @media (min-width: 768px){  

    .categ {
        margin-right: 29.5rem;

      }
  }