body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

 .slick-disabled {
  display: none !important;
} 

.slick-next:before,
.slick-prev:before
 {
  color: #4a4a4a !important; 
}

.slick-prev{ 
 
  margin-left: 40px !important;
}

.slick-next { 
  margin-right: 40px !important;
}


@media (min-width: 1024px) {
  .slick-prev{ 
 
    margin-left: 20px !important;
  }
  
  .slick-next { 
    margin-right: 20px !important;
  }
  
}

@media (min-width: 1200px) {
  .slick-prev{ 
 
    margin-left: 20px !important;
    background-color:red;
  }
  
  .slick-next { 
    margin-right: 20px !important;
  }
  
}